*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header-container{    
    background: #0f1111;
    padding: 10px 10px 10px 15px;
    /* border: 2px solid red; */
}
.header-container1{
    /* height: 20px; */
    min-width: 1500px;
    display: flex;
    gap: 30px;
    align-items: center;
    /* justify-content: center; */
    /* border: 2px solid red; */
}
.items-mobile,.mobile-list{
    display: none;
}
.scroll-img{
    display: none;
}
.amazon-logo img{
    height:30px;
    background-size: contain;
   
    /* border: 2px solid red; */
}
.hover:hover{
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
}
.content1{
    display: flex;
}
.content1 .location-icon{
    /* margin-top: 1em; */
    color: #fff;
    padding: 11px 5px 0px 5px;
}
 .content1item1 .content1item1-peragraph1{
    color: #cccccc;
    font-size: 11px;
 }
 .content1item1 .content1item1-peragrabh2{
    color: white;
    font-weight: 800;
    font-size: 11.8px;
 }
.content2{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.content2 .content2item1{
    background: #f3f3f3;
    border: none;
    height: 40px;
    width: 60px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 10px;
}
.content2 input{
    width: 54vw;
    height: 40px;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 9px;
}
.content2 i{
    /* width: 620px; */
    height: 40px;
    background: pink;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content3peragraph{
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 11.8px;
}
.content4 .content4peragraph1{
    color: #fff;
    font-size: 11px;
}
.content4 .content4peragraph2{
    color: #fff;
    font-weight: 800;
    font-size: 11.8px;
}
.content5 .content5peragraph1{
    color: white;
    font-size: 11px;
}
.content5 .content5peragraph2{
    color: #fff;
    font-weight: 800;
    font-size: 11.8px;
}
.content6{
    display: flex;
}
.content6 i{
    color: #fff;
    font-size: 1.3rem;
    margin-right: 5px;
}
.content6 .content6peragraph{
    color: white;
    font-size: 11.8px;
    font-weight: 800;
    margin-top: 0.8rem;
}
/* ####################### Navbar ###########################3 */
.navbar{
    height: 40px;
    padding-left: 15px;
    background: #232f3e;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */

}
.navbar-container{
    height: 40px;
    display: flex;
    align-items: center;
    /* border: 2px solid rgba(55, 0, 255, 0.953); */
}
.navbar-container .container1{
    display: flex;
    align-items: center;
    height: 40px;
    /* border: 2px solid red; */
}
.navbar-container .container1:hover{
    border: 1px solid #fff;
    cursor: pointer;
}
.menu-items li:hover{
    border: 1px solid #fff;
    cursor: pointer;
}
.container1 i{
    color: #fff;
    /* border: 2px solid red; */
}
.container1 .container1-peragraph1{
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    margin-left: 5px;
    /* border: 2px solid red; */
}
.container2{
    display: flex;
    align-items: center;
    margin-left: 15px;
    /* border: 2px solid green; */
}
.container2 .menu-items{
    display: flex;
    align-items: center;
    gap: 21px;
    /* border: 2px solid blue; */

    }
.container2 .menu-items li{
    list-style: none;
    color: white;
    font-size: 0.73rem;
    font-weight: 500;
}
/* ############################# Sidebar ######################################### */
.sidebar{
    background-color: white;	
    height: 100%;
    width:0;
    top: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: all 0.5s ease-in;
}
.sidebar ul{
    list-style-type: none;
    margin: 30px;
}
.sidebar .close_content{
    font-size: 36px;
    margin-left: 10rem;
}
.item li:hover{
    background-color: #cccccc;
}
.sidebar li{
    margin-top: 20px;
    left: 0;
}
.item1{
    display: flex;
    background-color: #37475a;
    /* position: fixed; */
    height: 40px; 
    color: white;
}
.item1_1{
    /* margin-right: 10px;
    margin-left: 25px;
    margin-top: 13px; */
    margin-left: 25px;
    margin-top: 12px;		
}
#item1_icon{
    margin-right: 10px;		
}
.sidebar h3{
    margin-top: 20px;
    margin-left: 25px;
}
.sidebar_open{
    margin-left: 20px;
}
.today_deals{
    margin-left:30px;
    font-size:13px;
}
.cst_service{
    margin-left:30px;
    font-size:13px;
}
.registry{
    margin-left:30px;
    font-size:13px;
}
.gift_card{
    margin-left:30px;
    font-size:13px;
}
.cell{
    margin-left:30px;
    font-size:13px;
}
.great_deals{
    margin-left:760px;
    font-size:13px;
}
/* ############################# section #####################################*/
section{
    background-color: #f3f3f3;
    padding: 0px 20px 0px 20px;
    /* border: 2px solid red; */
   
}
.section-container{
    background-image: url('image/hero1.jpg');
    /* max-height: 1000vh;   */
    min-width: 1400px;
    background-size: contain;
    background-repeat: no-repeat;
    object-position: center;
    padding: 225px 10px 20px 15px;
    /* border: 2px solid red; */
}
.container1-peragraph{
    background-color: #f3f3f3;
    height: 35px;
    width: 100%;
    color: #555;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
} 
.section-container .container1-peragraph a{
    text-decoration: none;
    color: green;
}
.image-set1{
    min-width: 1330px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
   
    /* flex-wrap: wrap; */
}

.box1{
    background-color: #ffffff;
    height: 420px;
    width: 306px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}
.box1-item1 img{
    width: 140px;
    height: 110px;
    background-size: cover;
    object-position: center;
}
.box1-item2 img{
    width: 140px;
    height: 110px;
    background-size: cover;
    object-position: center;
}
.box1 h2{
    font-size: 21px;
}
.box1 p{
    font-size: 13px;
    color: green;
}
.box1-item1{
    display: flex;
}
.box1-item2{
    display: flex;
}
.box2{
    background-color: #ffffff;
    height: 420px;
    width: 306px;
    padding: 20px;
}
.box2 img{
    height: 320px;
    width: 260px;
    background-size: cover;
    object-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box2 h2{
    font-size: 21px;
}
.box2 p{
    font-size: 13px;
    color: green;
}
.image-set2{
    min-width: 1330px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
.box3{
    background-color: #ffffff;
    height: 420px;
    width: 306px;
    padding: 20px;
}
.box3 img{
    height: 320px;
    width: 260px;
    background-size: cover;
    object-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box3 h2{
    font-size: 19px;
}
.box3 p{
    font-size: 13px;
    color: green;
}
.box4{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 306px;
}
.box4-item1{
    /* width: 320px; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 20px 40px 20px;
}
.box4-heading{
    font-size: 1rem;
}
.box4-item1 .btn{
    text-align: center;
    background-color: yellow;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 0.8rem;    
}
.box-container2{
    display: flex;
    flex-wrap: wrap;
    
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 20px;
}
/* ####################### Footer ###########################3 */

.footer1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37475a;
    /* border: 2px solid red; */
    padding: 10px 0px 10px 0px;
}
.footer1 a{
    font-size: 13px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}
.footer2{
    background-color: #232f3e;
    padding: 60px 0px 30px 0px;
    /* border: 2px solid red; */
}
.footer2-container{
    min-width: 980px;
    display: flex;
    gap: 80px;
    justify-content: center;
    /* border: 2px solid red; */
}
.footer2 .items h2{
    font-size: 16px;
    color: #ffffff;
}
.footer2 .items p{
    font-size: 13px;
    line-height: 30px;
    color: #DDDDDD;
}
.footer4{
    background-color: #131a22;
    padding: 0px 0px 30px 5px;
    /* border: 2px solid red;      */
}
.footer4-container{
    min-width: 1020px;
    gap: 30px;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}
.footer4 h2{
    color: #DDDDDD;
    font-size: 12px;
}
.footer4 p{
    color: #999999;
    font-size: 12px;
}
.border{
    margin-top: 20px;
}
.end{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131a22;
    color: #DDDDDD;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 15px;
}
/* ###################### Media query #############################3 */

@media (max-width: 480px){
    /* .content1item1,.content2item1,.content3,.container4,.container5{ */
        .content6peragraph,.mobile{
        display: none;
    }
    .header-container{
        position: relative;
        height: 120px;
    }
    .navbar-container .container1 a{
        position: absolute;
        top: 8px;
        left: 20px;
    }
    .amazon-logo{
        position: absolute;
        top: 4.5px;
        left: 40px;
    }
    .content6 i{
        position: absolute;
        top: 10px;
        right: 30px;
    }
    .content2 input{
        position: absolute;
        top: 40px;
        width: 80vw;
        left: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .content2 i{
        position: absolute;
        top: 40px;
        right: 38px;
    }
    .mobile-list {
        display: flex;
        max-width: 460px;
        position: absolute;
        top:84px;
        left: 0;
        white-space: nowrap;
        overflow-x: scroll;
        /* border: 2px solid red; */
    }
    .mobile-list ul{
        display: flex;  
        list-style-type: none;
    }
    .mobile-list li a{
        display: inline-block;
        padding: 10px;
        text-decoration: none;    
        font-size: 14px;
        color: #ffffff;
        cursor: pointer;
        /* border: 2px solid red; */
    }
    .mobile-list::-webkit-scrollbar{
       width: 0;
    }
    .container1-peragraph1,.container2 .menu-items{
        display: none;
    }
    .location-icon{
        display: block;
        position: absolute;
        top: 120px;
        left: 6px;
    }
    .content1item1{
        display: flex;
        position: absolute;
        top: 135px;
        left:28px;
        gap: 3px;
    }
    .content1item1 .content1item1-peragraph1{
        display: block;
        color: #ffffff;
        font-weight: 600;
        font-size: 11px;
     }
     .content1item1 .content1item1-peragrabh2{
        display: block;
        color: #ffffff;
        font-weight: 600;
        font-size: 11px;
     }
     section{
        background-color: #f3f3f3;   
        /* background-color: aquamarine; */
        height: 190vh;
        padding: 0;    
    }
     .section-container{
        background-image: url('image/hero1.jpg');
        min-width: 100px;
        object-fit: cover;
        background-repeat: no-repeat;
        object-position: center;
        padding: 215px 0px 0px 0px;
        /* border: 2px solid red; */
    }
   .scroll-img{
    max-width: 455px;
        display: flex;
        position: absolute;
        top: 260px;
        left: 0px;
        white-space: nowrap;
        overflow-x: scroll;
        /* z-index: 8; */
    }
    .scroll-img1 img{
        display: inline-block;
       padding: 5px;
    }
    .scroll-img::-webkit-scrollbar{
        width: 0;
     }
    .container1-peragraph{
        background-color: #232f3e;
        height: 85px;
        color: #fff;
        font-size: 15.1px;
        text-align: center;
        padding: 20px 104px 20px 100px;
    } 
    .section-container .container1-peragraph a{
        text-decoration: none;
        color: #fff;
        font-size: 13px;
    }
    .box3,.box4-item2{
        display: none;
    }
    .box1{
        order: 2;
        position: absolute;
        top: 610px;
        left: 0;
        background-color: #ffffff;
        height: 565px;
        width: 460px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px;
    }
    .box1-item1 img{
        width: 200px;
        height: 200px;
        margin-right: 15px;
        background-size: cover;
        object-position: center;
    }
    .box1-item2 img{
        width: 200px;
        height: 200px;
        margin-right: 15px;
        background-size: cover;
        object-position: center;
    }
    .box1 h2{
        font-size: 21px;
    }
    .box1 p{
        font-size: 13px;
        color: green;
    }
    .box1-item1{
        display: flex;
    }
    .box1-item2{
        display: flex;
    }
    .box2{
        position: absolute;
        top: 1180px;
        left: 0;
        background-color: #ffffff;
        height: 530px;
        width: 460px;
        padding: 10px;
    }
    .box2 img{
        height: 440px;
        width: 440px;
        background-size: cover;
        object-position: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .box2 h2{
        font-size: 21px;
    }
    .box2 p{
        font-size: 13px;
        color: green;
    }
   .box4 .box4-item1{
    position: absolute;
    top: 465px;
    left: 0;
    width: 100%;
        order: 1;
        background-color: #ffffff;
        display: flex;
        padding: 15px 20px 10px 20px;
    }
    .box4-heading{
        font-size: 1rem;
    }
    .box4-item1 .btn{
        text-align: center;
        background-color: yellow;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
        font-size: 1rem;    
    }
    .box4-item1 p{
        color: green;
        font-size: 13px;
    }
    .footer2-item1,.footer2-item2,.footer2-item3,.footer2-item4,.footer4{
        display: none;
    }
    .end{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #131a22;
        color: #DDDDDD;
        padding: 20px;
        font-size: 12px;
        line-height: 15px;
    }
    .footer2-container{
        /* height: 300px; */
        min-width: 130px;
        display: flex;
        /* gap: 80px; */
        justify-content: center;
        /* border: 2px solid red; */
    }
    .items-mobile{
        display: block;
        color: #ffffff;
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
    }
}